include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

include altamisa/py.typed
recursive-include altamisa *.py

include requirements.txt requirements/*.txt
