name: CI

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install test dependencies via pip
        run: pip install -r requirements/test_black.txt

      - name: Lint
        run: make lint

  build:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Install test dependencies via pip
        run: pip install -r requirements/test_black.txt

      - name: Run tests
        run: |
          make test
          coverage report
          coverage xml

      - name: Upload Python coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: python
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
